
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importar variables, extend

@import "utilidades/variables";
@import "utilidades/extend";

/*estilos generales*/

/*estilos body*/
body{
    background-color: antiquewhite;    
 }
 
 /*estilos para el menu de navegacion*/
.menu{
    background-color: $color-menu;
    border: solid black 3px;
    margin: 0.2rem;     
}

.foto-logo{
    width: 2rem;    
}   

/*estilos para el boton del menu*/
.navbar-toggler{
    border: none !important; 
    
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* estilos de footer*/
footer{
    height: 60px;
    background-color: $color-footer;
    display: flex;
    justify-content: center; /*alinea a los hijos horizontal*/
    align-items: center; /*alinea a los hijos vertical*/
    font-weight: bold;
    padding-top: 0.5rem;
    position: relative;
    .redes-sociales{
        display: none;
    }
    input{
      position: absolute; 
      right: 6%;      
      bottom: 30%;
      background-color: rgba(226, 152, 91, 0.801);
      font-weight: bold;
      padding: 3px;
      border-radius: 15%;
      font-size: 12px;  
    }
}


/*media queries generales*/
@media screen and (min-width: 1024px){
    
    /*estilos de menu*/
    .menu{
        display: flex;
        justify-content: center;
        ul{
            gap: 3rem;
            li{
                a{
                   font-size: 17px; 
                }
            }
        } 
    }

    .foto-logo{
        width: 3rem;
        margin-right: 2rem;    
    }
    .collapse{
        font-weight: bolder !important;
        
    }
    .nav-item{
        &:hover{
            transform: scale(0.9) !important;
            font-weight:lighter !important;
            }
    }

    /*estilos de footer*/
    footer{
        height: 80px;
        .redes-sociales{
            display: flex;
            align-items: center; /*alinea a los hijos vertical*/
            flex-wrap: wrap;
            margin: 1rem;
            a{
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    border: 1px solid black;
                    margin: 1rem;                                   
                }
                :hover{
                        filter: drop-shadow(0 0 5px rgb(77, 66, 43));
                    }   
            }                        
        }
        a{
            :hover{
                filter: drop-shadow(0 0 5px rgb(77, 66, 43));
            } 
        }
        input{
            right: 1.5%;      
            bottom: 20%;
            background-color: rgba(226, 152, 91, 0.801);
            font-weight: bold;
            padding: 10px;
            border-radius: 25% 15%;
            font-size: 12px;            
        }     
    }
}
/* fin de estilos generales*/

 @import "secciones/index";
 @import "secciones/alquileres";
 @import "secciones/departamento";
 @import "secciones/contacto";
 @import "secciones/sobrenosotros";
 