
//importar variables, mixin
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos alquileres.html*/

/* estilos de main*/

.alquileres{
    padding: 0.2rem;
}

.galeria-img{
    width: $ancho;
    background: $color-grad;
    @include flex-column-dos;       
}

.img-size{    
    @extend %borde;
    object-fit: cover; /*prop. que permite que la img ocupe el espacio del contendor sin distorsionarse*/    
}

.galeria-item{
    position: relative;
    p{
      font-size: 15px;
    }
}

.titulo-imagen{
    text-decoration: none !important;
    position: absolute;
    left: 55px;
    bottom: 55px;
    font-size: 15px;
    color: rgb(253, 253, 253) !important;
    
}

/* estilos para pantallas de tablet*/

@media screen and (min-width: 768px){

    /*estilos para alquileres*/
    
    .alquileres{
        padding: 0.2rem;
    }

   .galeria-img{
        width:$ancho !important;
        padding: 1rem;
        @include grid-dos;
        grid-template-columns: repeat(2,0.2fr);
        grid-template-rows: repeat(3,0.5fr);
        border: solid black 2px;
    }

    .galeria-item{
        position: relative;
        p{
            font-size: 17px;
        }
    }
    .img-size{
        width: 390px !important;
        height: 399px;
    }

    .titulo-imagen{
        position: absolute;
        left: 25px;
        bottom: 55px;
        font-size: 17px;
    }  
}

/*media querie alquileres.html*/

@media screen and (min-width: 1024px){
    
    .alquileres{
        padding: 0.2rem;        
    }

   .galeria-img{
        width:$ancho !important;
        padding: 1rem;        
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,0.5fr);
        border: solid black 3px;
    }

    .galeria-item{
        position: relative;
    }
    .img-size{
        
        width: 479px !important;
        height: 399px;
    }

    .titulo-imagen{
        position: absolute;
        left: 25px;
        bottom: 55px;
        
    }
}
/*fin de estilos alquileres.html*/

