
/*estilos contacto.html*/

.maincontacto{
    text-align: center;
    padding-top: 10px;
    background-color: whitesmoke;
    margin: 15px 10px 10px 10px;
    font-size: 15px;
    
}

.maincontacto h2{
    background-color: rgb(196, 192, 192);
    padding: 20px 20px 20px 20px;
    width: 90%;
    margin: 30px 0px 50px 50px
}

/*fin de estilos contacto.html*/