
//import de variables, mixin
@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos index.html*/

.img-portada{
    height: 70%;
    width: $ancho;
    border-radius: 15px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;        
}

.titulo-uno{
    text-align: center;
    color: whitesmoke;
    background-color: brown;
    font-size: 35px;
    font-style: oblique;
    margin: 0.2rem;
    border: solid black 5px;
}

/*etilos de main */

.main-uno{
    @include flex-column;
    img{
        display: none;        
    }
    h2{
        margin-top: 1rem;
        padding: 0 0.6rem 0 0.6rem;
    }
    p{
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
        text-align:justify;
        span{
            display:block;
        }
        .span-text{
            margin-top: 15px;
        }
    }    
}    

/*media querie pantallas desktop index.html*/

@media screen and (min-width: 1024px) {
    
    /* estilos del index*/

    .titulo-uno{
        font-size: 50px;
    } 

    .main-uno{
        width: $ancho;
        @include grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "img h2"
        "img p";
        
        img{
            display: grid;
            grid-area: img;
            object-fit: cover;
            height: 90%;
            width: $ancho; 
            padding-left: 0.5rem;
            margin: 1rem;
                     
        }
        h2{
            grid-area: h2;            
            align-self:flex-start; /*propiedad que permite alinear al hijo de manera independiente*/
                        
        }
        p{
            grid-area: p;            
            margin: 2rem;
            padding: 0.5rem;
            text-align:justify;
            align-self: flex-start; /*propiedad que permite alinear al hijo de manera independiente*/
            font-size: 15px;
            span{
                display:block;
            }
            .span-text{
                margin-top: 20px;
            }
        }
    }
}

/*fin de estilos index.html*/


     

    
   