
//import mixin
@import "../utilidades/mixin";

/*estilos sobrenosotros.html*/

.main-nosotros{
    height: 100%;
    @include flex-column-tres;
    img{
        
        margin: 0.5rem;
        padding: 0.5rem;
    }
    p{
        text-align: justify;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    h2{
        text-align: center;
    }
    
}

@media screen and (min-width: 1024px) {
    .main-nosotros{
        display: grid;
        grid-template-areas:  
        "img-nos nos-uno"
        "img-nos nos-uno";
    }
}
/*fin de estilos sobrenosotros.html*/






