
//color para menu

$color-menu: #FBAB7E;

//color para footer
$color-footer:rgba(238, 195, 158, 0.801);

//color gradiente para alquileres
$color-grad: linear-gradient(180deg, rgba(222,126,72,0.9890710382513661) 51%, rgba(249,102,19,1) 73%);

//medidas de contenedores
$ancho: 100%;